<a href="https://colab.research.google.com/github/sami-shiraz2/PySpark/blob/main/Dataframe2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PySpark Dataframe 2**

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:4 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:5 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:6 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:8 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:9 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:13 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,810 kB]
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [926 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,213 kB]
Get:18 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [69.5 kB]
Get:19 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,434 kB]
Get:22 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [753 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [630 kB]
Get:24 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,396 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [665 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,835 kB]
Fetched 14.1 MB in 29s (477 kB/s)
Reading package lists... Done
sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Dataframe2').getOrCreate()

In [5]:
spark

In [6]:
from google.colab import files
files.upload()

Saving test1.csv to test1.csv

{'test1.csv': b'Name,Age,Experience,Salary\r\nSami,23,10,30000\r\nSehraan,14,8,40000\r\nShiraz,49,12,80000\r\nKhan,55,1,\r\nHaris,,2,\r\nWajahat,44,,100000\r\nLala,,,\r\nAli,80,10,500000\r\n,,15,\r\n'}

In [41]:
df_spark = spark.read.csv('/content/test1.csv', header=True, inferSchema=True)

In [43]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [44]:
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Sami|  23|        10| 30000|
|Sehraan|  14|         8| 40000|
| Shiraz|  49|        12| 80000|
|   Khan|  55|         1|  null|
|  Haris|null|         2|  null|
|Wajahat|  44|      null|100000|
|   Lala|null|      null|  null|
|    Ali|  80|        10|500000|
|   null|null|        15|  null|
+-------+----+----------+------+

In [45]:
## Droping

In [46]:
df_spark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Sami| 23|        10| 30000|
|Sehraan| 14|         8| 40000|
| Shiraz| 49|        12| 80000|
|    Ali| 80|        10|500000|
+-------+---+----------+------+

In [47]:
# how='any'
df_spark.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Sami| 23|        10| 30000|
|Sehraan| 14|         8| 40000|
| Shiraz| 49|        12| 80000|
|    Ali| 80|        10|500000|
+-------+---+----------+------+

In [48]:
# how='all'
df_spark.na.drop(how='all').show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Sami|  23|        10| 30000|
|Sehraan|  14|         8| 40000|
| Shiraz|  49|        12| 80000|
|   Khan|  55|         1|  null|
|  Haris|null|         2|  null|
|Wajahat|  44|      null|100000|
|   Lala|null|      null|  null|
|    Ali|  80|        10|500000|
|   null|null|        15|  null|
+-------+----+----------+------+

In [49]:
# thersold = 2
df_spark.na.drop(how='all', thresh=2).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Sami|  23|        10| 30000|
|Sehraan|  14|         8| 40000|
| Shiraz|  49|        12| 80000|
|   Khan|  55|         1|  null|
|  Haris|null|         2|  null|
|Wajahat|  44|      null|100000|
|    Ali|  80|        10|500000|
+-------+----+----------+------+

In [50]:
# thersold = 3
df_spark.na.drop(how='all', thresh=3).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Sami| 23|        10| 30000|
|Sehraan| 14|         8| 40000|
| Shiraz| 49|        12| 80000|
|   Khan| 55|         1|  null|
|Wajahat| 44|      null|100000|
|    Ali| 80|        10|500000|
+-------+---+----------+------+

In [51]:
# subset = ['Experience']
df_spark.na.drop(how='all', subset=['Experience']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Sami|  23|        10| 30000|
|Sehraan|  14|         8| 40000|
| Shiraz|  49|        12| 80000|
|   Khan|  55|         1|  null|
|  Haris|null|         2|  null|
|    Ali|  80|        10|500000|
|   null|null|        15|  null|
+-------+----+----------+------+

In [53]:
## Filling the missing value
df_spark.na.fill('Missing Value', ['Age', 'Experience']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Sami|  23|        10| 30000|
|Sehraan|  14|         8| 40000|
| Shiraz|  49|        12| 80000|
|   Khan|  55|         1|  null|
|  Haris|null|         2|  null|
|Wajahat|  44|      null|100000|
|   Lala|null|      null|  null|
|    Ali|  80|        10|500000|
|   null|null|        15|  null|
+-------+----+----------+------+

In [58]:
## Replacing nan value with mean of the particular column
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mean")