<a href="https://colab.research.google.com/github/sami-shiraz2/PySpark/blob/main/Filter_Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Filter Operation**

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:8 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [69.5 kB]
Get:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [753 kB]
Hit:14 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,396 kB]
Hit:18 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,835 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,810 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,434 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [630 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [665 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,213 kB]
Get:25 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [926 kB]
Get:26 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 14.1 MB in 7s (1,913 kB/s)
Reading package lists... Done
sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [2]:
from google.colab import files
files.upload()

Saving test1.csv to test1.csv

{'test1.csv': b'Name,Age,Experience,Salary\r\nSami,23,10,30000\r\nSehraan,14,8,40000\r\nShiraz,49,12,80000\r\nKhan,55,1,\r\nHaris,,2,\r\nWajahat,44,,100000\r\nLala,,,\r\nAli,80,10,500000\r\n,,15,\r\n'}

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Filter Operations').getOrCreate()

In [6]:
df_spark = spark.read.csv('/content/test1.csv', header=True, inferSchema=True)
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Sami|  23|        10| 30000|
|Sehraan|  14|         8| 40000|
| Shiraz|  49|        12| 80000|
|   Khan|  55|         1|  null|
|  Haris|null|         2|  null|
|Wajahat|  44|      null|100000|
|   Lala|null|      null|  null|
|    Ali|  80|        10|500000|
|   null|null|        15|  null|
+-------+----+----------+------+

In [8]:
df_spark = df_spark.na.drop(how='any')
df_spark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Sami| 23|        10| 30000|
|Sehraan| 14|         8| 40000|
| Shiraz| 49|        12| 80000|
|    Ali| 80|        10|500000|
+-------+---+----------+------+

In [13]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

**Conditioning (Logical Operators)**

In [15]:
df_spark.filter(df_spark['Salary']>=110000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Ali| 80|        10|500000|
+----+---+----------+------+

AND (&) Operator

In [16]:
df_spark.filter((df_spark['Salary']>=40000) & (df_spark['Salary']<=80000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sehraan| 14|         8| 40000|
| Shiraz| 49|        12| 80000|
+-------+---+----------+------+

OR (|) Operator

In [17]:
df_spark.filter((df_spark['Salary']>=40000) | (df_spark['Salary']<=80000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Sami| 23|        10| 30000|
|Sehraan| 14|         8| 40000|
| Shiraz| 49|        12| 80000|
|    Ali| 80|        10|500000|
+-------+---+----------+------+

NOT (~) Operator

In [18]:
df_spark.filter(~((df_spark['Salary']>=40000) & (df_spark['Salary']<=80000))).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Sami| 23|        10| 30000|
| Ali| 80|        10|500000|
+----+---+----------+------+