<a href="https://colab.research.google.com/github/sami-shiraz2/PySpark/blob/main/PySpark_DataFrame1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PySpark DataFrames**

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [69.5 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,434 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [630 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,396 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,809 kB]
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [753 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [926 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,213 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,835 kB]
Get:25 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [665 kB]
Fetched 14.1 MB in 4s (3,329 kB/s)
Reading package lists... Done
sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [2]:
import pyspark

In [3]:
from google.colab import files
files.upload()

Saving test1.csv to test1.csv

{'test1.csv': b'Name,Age,Experience\r\nSami,23,10\r\nSehraan,14,8\r\nShiraz,49,12\r\n'}

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('DataFrames').getOrCreate()

In [8]:
df_spark = spark.read.csv('/content/test1.csv')
df_spark

DataFrame[_c0: string, _c1: string, _c2: string]

In [10]:
df_spark.printSchema()   ## see datatypes are String

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [11]:
df_spark = spark.read.option('header', 'true').csv('/content/test1.csv', inferSchema=True)

In [12]:
df_spark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|   Sami| 23|        10|
|Sehraan| 14|         8|
| Shiraz| 49|        12|
+-------+---+----------+

In [13]:
df_spark.printSchema()   ## by doing inferSchema = True, you can see that datatype is now great

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
df_spark.columns

['Name', 'Age', 'Experience']

In [21]:
df_spark.head(3)

[Row(Name='Sami', Age=23, Experience=10),
 Row(Name='Sehraan', Age=14, Experience=8),
 Row(Name='Shiraz', Age=49, Experience=12)]

**Selecting particular column**

In [22]:
df_spark.select(['Name', 'Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|   Sami|        10|
|Sehraan|         8|
| Shiraz|        12|
+-------+----------+

In [30]:
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [32]:
df_spark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [33]:
df_spark.describe().show()

+-------+------+------------------+----------+
|summary|  Name|               Age|Experience|
+-------+------+------------------+----------+
|  count|     3|                 3|         3|
|   mean|  null|28.666666666666668|      10.0|
| stddev|  null|18.175074506954115|       2.0|
|    min|  Sami|                14|         8|
|    max|Shiraz|                49|        12|
+-------+------+------------------+----------+

**Adding Column**

In [37]:
df_spark_ = df_spark.withColumn('Experience After 2 Years', df_spark['Experience']+2)

In [38]:
df_spark_.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 Years|
+-------+---+----------+------------------------+
|   Sami| 23|        10|                      12|
|Sehraan| 14|         8|                      10|
| Shiraz| 49|        12|                      14|
+-------+---+----------+------------------------+

**Removing Column from Spark DF**

In [41]:
df_spark__ = df_spark_.drop('Experience After 2 Years')

In [42]:
df_spark__.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|   Sami| 23|        10|
|Sehraan| 14|         8|
| Shiraz| 49|        12|
+-------+---+----------+

**Renaming Spark DF Column**

In [45]:
df_spark___ = df_spark__.withColumnRenamed('Experience', 'Years Of Experience')

In [46]:
df_spark___.show()

+-------+---+-------------------+
|   Name|Age|Years Of Experience|
+-------+---+-------------------+
|   Sami| 23|                 10|
|Sehraan| 14|                  8|
| Shiraz| 49|                 12|
+-------+---+-------------------+